
img.myphoto {
    border-radius: 50%;
    max-width: 10%;
    opacity: 0.8;
  }

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  padding: 15px 5px 0px -5px;
}

mark {
  background-color: #508D68;
  color: white;
  padding: 0 0.2em;
  }
  
  .button {
    background-color: #f2fbfa;
    color: burlywood;
    display: block;
    transition-duration: 0.1s;
    width: 100%;
    border: none;
    font-family: 'Ibarra Real Nova', serif;
    font-size: 40px;
  }
  
  .button:hover {
    background-color: #508D68;
    color: white;
  }
  body {
    background-color:white"
  }

h1, h2 {
  font-family: 'Ibarra Real Nova', serif;
  font-size: 35px;
}

span {
  color: white;
  background-color: #7BAE83;
  text-decoration: underline;
  text-decoration-color: white;
}

.nav {
  border-top: 1px #508D68 solid;
  border-bottom: 1px #508D68 solid;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 18px;
  font-family: "Karla";
  padding: 20px;
  color: #7BAE83;
  text-transform: uppercase;
}

li {
  font-family: sans-serif;
  color: #508D68;
}

main {
  font-family: 'Ibarra Real Nova', serif;
}

table {
  font-size: 24px;
  text-align: center;
  color: #508D68;
}

.intro {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
color: #508d68;
text-decoration: underline;
text-decoration-color: white;
font-weight: bolder;
}

span {
  background-color: #508D68;
  color: white;
}

mark.underline {
  text-decoration: underline;
  text-decoration-color: #508d68;
  padding: 0 0.2em;
}